<mat-card class="mat-card-cvr" >
  <form [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field class="fullwidth">
      <label>
        <input matInput type="email" placeholder="Email" formControlName="email">
      </label>
    </mat-form-field>
    <br>
    <mat-form-field class="fullwidth">
      <label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </label>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
  </form>
</mat-card>
