<mat-card class="mat-card-cvr">
  <form [formGroup]="frmSignup" (ngSubmit)="frmSignup.value" class="example-container">
    <mat-form-field appearance="fill" class="fullwidth">
      <input matInput placeholder="Email" [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''"
             formControlName="email" required>
    </mat-form-field>
    <mat-error class="text-danger" *ngIf="frmSignup.controls['email'].hasError('email')">
      Enter a valid email address!
    </mat-error>
    <div class="example-container">
      <mat-form-field appearance="fill" class="fullwidth">
        <input matInput placeholder="Password" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''"
               formControlName="password" required>
      </mat-form-field>
      <mat-error
        [class.success]="!frmSignup.controls['password'].hasError('required') && !frmSignup.controls['password'].hasError('minlength')">
        <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
        frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
          'check_circle' }}</i>
        Must be at least 8 characters!
      </mat-error>
      <mat-error
        class="col"
        [class.success]="!frmSignup.controls['password'].hasError('required') && !frmSignup.controls['password'].hasError('hasNumber')">
        <i class="material-icons">
          {{ frmSignup.controls['password'].hasError('required') ||
        frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
          'check_circle' }}
        </i>
        Must contain at least 1 number!
      </mat-error>
      <mat-error
        class="col"
        [class.success]="!frmSignup.controls['password'].hasError('required') && !frmSignup.controls['password'].hasError('hasCapitalCase')">
        <i class="material-icons">
          {{ frmSignup.controls['password'].hasError('required') ||
        frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
          'check_circle' }}
        </i>
        Must contain at least 1 in Capital Case!
      </mat-error>
      <mat-error
        class="col"
        [class.success]="!frmSignup.controls['password'].hasError('required') && !frmSignup.controls['password'].hasError('hasSmallCase')"
      >
        <i class="material-icons">
          {{ frmSignup.controls['password'].hasError('required') ||
        frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
          'check_circle' }}
        </i>
        Must contain at least 1 Letter in Small Case!
      </mat-error>
      <mat-error
        class="col"
        [class.success]="!frmSignup.controls['password'].hasError('required') && !frmSignup.controls['password'].hasError('hasSpecialCharacters')">
        <i class="material-icons">
          {{ frmSignup.controls['password'].hasError('required') ||
        frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
          'check_circle' }}
        </i>
        Must contain at least 1 Special Character!
      </mat-error>
    </div>
    <button mat-raised-button color="primary" [disabled]="!frmSignup.valid">Sing Up</button>
  </form>
</mat-card>
